gui
{
	zorder 500
	// Stats block
	container BorderPanel(gui/StatPanel)
	{
		metrics_mode pixels
		vert_align bottom
		left 5 
		top -88
		width 300
		height 83
		material gui/StatsBlockCenter
        	border_size 1 1 1 1
        	border_material gui/StatsBlockBorder
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		element TextArea(gui/CurrFps)
		{
			metrics_mode pixels
			left 5
			top 5
			width 90
			height 30
			font_name TrebuchetMSBold
			char_height 16
			caption Current Graphics Rate:
			colour_top 0.6 0.7 0.7
			colour_bottom 0.7 0.7 0.7
		}
		element TextArea(gui/AverageFps)
		{
			metrics_mode pixels
			left 5
			top 20
			width 90
			height 30
			font_name TrebuchetMSBold
			char_height 16
			caption Average Graphics Rate:
			colour_top 0.6 0.7 0.7
			colour_bottom 0.7 0.7 0.7
		}
		element TextArea(gui/PhysicsRate)
		{
			metrics_mode pixels
			left 5
			top 35
			width 90
			height 30
			font_name TrebuchetMSBold
			char_height 16
			caption Simulated Physics Rate:
			colour_top 0.6 0.7 0.7
			colour_bottom 0.7 0.7 0.7
		}
		element TextArea(gui/ScaledPhysicsRate)
		{
			metrics_mode pixels
			left 5
			top 50
			width 90
			height 30
			font_name TrebuchetMSBold
			char_height 16
			caption Scaled Physics Rate:
			colour_top 0.6 0.7 0.7
			colour_bottom 0.7 0.7 0.7
		}
		element TextArea(gui/NumTris)
		{
			metrics_mode pixels
			left 5
			top 65
			width 90
			height 30
			font_name TrebuchetMSBold
			char_height 16
			caption Triangle Count:
			colour_top 0.6 0.7 0.7
			colour_bottom 0.7 0.7 0.7
		}
	}
}

telemetry
{
	zorder 600
	// Stats block
	container BorderPanel(telemetry/StatPanel)
	{
		metrics_mode pixels
		vert_align top
                horz_align middle
		left -320 
		top 5
		width 630
		height 105
		material gui/StatsBlockCenter
        	border_size 1 1 1 1
        	border_material gui/StatsBlockBorder
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		element TextArea(telemetry/header)
		{
			metrics_mode pixels
			left 5
			top 5
			width 620
			height 30
			font_name TrebuchetMSBold
			char_height 17
                        colour_top 1 1 0.7
                        colour_bottom 1 1 0.7
		}
                
		container Panel(telemetry/BreakPanel)
		{
			metrics_mode pixels
			left 5 
			top 21
			width 620
			height 1
			material gui/StatsBreak
		}
		    
		element TextArea(telemetry/text)
		{
			metrics_mode pixels
			left 5
			top 25
			width 620
			height 30
			font_name TrebuchetMSBold
			char_height 16
			colour_top 0.67 0.7 0.7
			colour_bottom 0.67 0.7 0.7
		}
	}
}

loadscreen
{
	zorder 400
	// Stats block
	container BorderPanel(loadscreen/StatPanel)
	{
		metrics_mode pixels
		vert_align middle
                horz_align middle
		left -320
		top -240
		width 640
		height 480
		material gui/StatsBlockCenter
        	border_size 2 2 2 2
        	border_material gui/StatsBlockBorder
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		container Panel(loadscreen/BreakPanel)
		{
			metrics_mode pixels
			left 10 
			top 19
			width 620
			height 1
			material gui/StatsBreak
		}
		    
		element TextArea(loadscreen/text)
		{
			metrics_mode pixels
			left 10
			top 5
			width 630
			height 470
			font_name TrebuchetMSBold
			char_height 16
			colour_top 0.67 0.7 0.7
			colour_bottom 0.67 0.7 0.7
		}
	}
}
